<p>view-appointments works!</p>

<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Disease</th>
            <th>Patient Record</th>            
            <!-- <th>Appointment Status</th>-->
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>17/07/2019</td>
            <td>5:20:23</td>
            <td>fever</td>
            <td>PDF</td>
            <td>Approved/Denied/Pending</td>
          </tr>
        </tbody>
      </table>
</div>
<li class="nav-item" routerLinkactive="active">
    <a class="nav-link" routerLink="applyLeave">applyLeave</a>

</li>

